.footer {
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-content p {
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #e2fffa;
}

.back-to-top {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.back-to-top:hover {
  color: #00b5cd;
}